<h1 class="text-center mb-3">{{title}}</h1>

<h2>Create</h2>

<form action="/api/students" method="POST" >
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name"class="form-control" required >
  </div>
  <div class="form-group">
    <label for="grade">Grade</label>
    <input type="number" name="grade" class="form-control" required >
  </div>
  <input type="submit" value="Add Student" class="btn btn-primary btn-block">
</form>

<h2>Search</h2>
<form action="/api/students" method="GET">
 <div class="form-group">
 <label for="id">ID</label>
  <input type="number" name="id" placeholder="Search" /><br/>
  </div>
</form>

<h2>Delete</h2>
<form action="/api/students">
 <div class="form-group">
 <label for="id">ID</label>
  <input type="number" name="id" placeholder="Delete" /><br/>
  </div>
</form>

<!-- take from db this values-->

<h4>All Students</h4>
<ul class="list-group">
  {{#each students}}
  <li class="list-group-item">{{this.name}}: {{this.grade}}</li>
  {{/each}}
</ul>